---
import '../styles/global.css'

const { title } = Astro.props;
const siteTitle = title || "IITM BS: Multi-Stream Hub";
const description = "It's a discord server";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/icon.svg" />
        <link rel="icon" href="/icon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{siteTitle}</title>

        <meta name="description" content={description} />
        <meta name="theme-color" content="#1e40af" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.site} />
        <meta property="og:title" content={siteTitle} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={Astro.site + "/bg.png"} />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={siteTitle} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={Astro.site + "/bg.png"} />
    </head>
    <body>
        <div class="h-screen w-full flex font-mono">
            <slot>
			</slot>
        </div>
    </body>
</html>